doctype html;
html
    head
        style
            include total.css

    body
        div.header
            block content
        div.footer
            | С уважением,
            br
            | Александр Кузьмин
            br
            | +380663026002
            br
            a(href='https://strana.ua/') Welcome!
